.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.d-collapsed {
  float: left;
  width: 3rem;
}

.d-header {
  box-sizing: border-box;
  float: right;
  margin-right: 2rem;
}

.d-project {
  display: inline-table;
  padding: 0 10px;
  color: gray;

  .d-header-icon {
    padding: 0 5px;
    cursor: pointer;
  }
}

.d-avatar {
  display: inline-table;
  cursor: pointer;

  img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 5px;
    transition: .3s;

    &:hover {
      border-radius: 50%;
      transition: .1s;
    }
  }
}



.d-navigation-custom-avatar {
  min-width: 150px;

  .d-navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    .d-navigation-menu-item {
      height: 40px;
      line-height: 40px;

      &:hover {
        color: red;
        cursor: pointer;
      }
    }
  }
}