.login-bg {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/banner/login-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10rem;
}

.login-title {
  line-height: 3rem;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}